<script type="text/javascript" src="/js/broadcast.js"></script>
<script>var room = "<%=room%>";</script>

<div id="ascii"><div id="last"></div></div>

<div id="start"><button type="button" class="g-button" id="startbtn"><img id="indicator" src="/images/red.png">&nbsp;&nbsp;<span id="btntext">Start Broadcasting</span></button>&nbsp;<button type="button" class="g-button" id="showbtn"><span id="btn2text">Stop Video</span></button></div>


<div id="camera"></div>