<div id="ascii" style="color: #333">



<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p>
<h1 align="center">Go to http://hack.nowjs.com:8082/view/roomname to view a broadcast</h1>
<h1 align="center">or http://hack.nowjs.com:8082/broadcast/roomname to create broadcast</h1>

</div>
