<div id="home">
<p>&nbsp;</p>
<p>&nbsp;</p>
<h1>Ascam is a ASCII webcam broadcast tool using getUserMedia and BinaryJS</h1>
<small align="center">No Flash here! Only compatible with Google Chrome 21+</small>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p align="center">http://ascam.ericzhang.com/view/roomname<br> to view a broadcast</p>
<p>&nbsp;</p>
<p align="center">http://ascam.ericzhang.com/broadcast/roomname<br> to create broadcast</p>

</div>
