html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

#ascii {
  background-color: #fff;
  box-shadow: 0px 1px 25px #aec6d3;
  margin: 0 auto;
  white-space: pre; 
  letter-spacing: -1.04px; font-family: 'courier new'; font-size: 9px; line-height: 8px; text-align: center; 
  visibility: hidden;
}

#home {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
  font-size: 16px;
  color: #333;
}

#home h1 {
  font-weight: normal;
}

#last {
  float: left;
  visibility: hidden;
}

html {
  min-height: 100%;
  background: -moz-linear-gradient(45deg, #e5f6ff 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#e5f6ff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(left bottom, right top, #e5f6ff 0%,#ffffff 100%);
  background: -o-linear-gradient(left, #e5f6ff 0%,#ffffff 100%);
  background: -ms-linear-gradient(left, #e5f6ff 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f6ff', endColorstr='#ffffff',GradientType=1 );
  background: linear-gradient(left, #e5f6ff 0%,#ffffff 100%);
  font-family: "Segoe UI", Helvetica, Arial;
  font-size: 20px;
  padding-top: 10px;
  font-family: Georgia, Times, “Times New Roman”, serif;
  text-align: center;
}


#start {
  margin-top: 15px;
  margin-bottom: 40px;
}

.g-button {
  padding: 10px 12px;
  -webkit-border-radius: 2px 2px;
  border: solid 1px rgb(153, 153, 153);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
  color: #333;
  text-decoration: none;
  font-style:normal;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
  line-height: 1;
}

button.g-button, a.g-button, input[type=submit].g-button { padding: 6px 10px; -webkit-border-radius: 2px 2px; border: solid 1px rgb(153, 153, 153); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221))); color: #333; text-decoration: none; cursor: pointer; display: inline-block; text-align: center; text-shadow: 0px 1px 1px rgba(255,255,255,1); line-height: 1; }
		.g-button:hover { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(248, 248, 248)), to(rgb(221, 221, 221))); }
		.g-button:active { background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(204, 204, 204)), to(rgb(221, 221, 221))); }
		